// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.powered-by:not(.copyright-license-text):not(.footer-license-icons) {
  display: none;
}

.hero-lead {
  max-width: 100% !important;
  width: 100%;
  display: block;
  flex-direction: column;
}

.col-lg-12 .article-style {
  // Align Youtube logo to the right in JC
 text-align: right;
}

.col-lg-12 .media-body .article-style {
  // Only apply to Youtube logo
  all: unset;
}

.article-style img {
  margin: 0 0 0 0;
}
