// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.powered-by:not(.copyright-license-text):not(.footer-license-icons) {
  display: none;
}

.hero-lead {
  max-width: 100% !important;
  width: 100%;
  display: block;
  flex-direction: column;
}
